html
    head
        title Express
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        
    body.container
        p Welcome to Brodway Infosys Nepal

        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="Username",name="username").form-control
            label(for="password") Password
            input(type="password", placeholder="Password", name="password").form-control
            input(type="submit", value="login").btn.btn-primary
        
        p Don't have an account?
        p register
            a(href="#") here